:root {
  --font-family: ("Roboto", "Raleway", sans-serif);
  --main-color: #ffffff;
  --blue-color: #2196f3;
  --black-color: #000000;
  --gray-text-color: #757575;
  --secondry-bacground-color: #2f303a;
  --body-text-color: #212121;
  --team-section-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --tittle-color: #ffffff;
  --background-color: #e5e5e5;
  --button-text-color: #ffffff;
  --navigation-color: #212121;
}
.body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0.15px;
  background-color: var(--tittle-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  /* margin: auto; */
}
.navigation {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  background-color: #ffffff;
  padding-top: 40.8px;
  padding-bottom: 40.8px;
  align-items: center;
}
.agency a {
  padding-left: 93px;
  list-style-type: none;
  color: #2196f3;
  text-decoration: none;
}
.portfolio a {
  padding-left: 46px;
  list-style: none;
  text-decoration: none;
  color: #212121;
}
.contact a {
  padding-left: 46px;
  list-style-type: none;
  text-decoration: none;
  color: #212121;
}

.navigation:hover {
  color: var(--blue-color);
}
.second-nav {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  align-content: baseline;
  gap: 10px;
  margin: auto;
  list-style: none;
}
.mail a {
  font-family: Roboto;
  font-weight: 400;
  color: var(--blue-color);
  line-height: 1.15;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  list-style: none;
  display: flex;
  margin-right: 50px;

  .mail a:hover {
    color: var(--blue-color);
  }
}
.number a {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  list-style-type: none;
  display: flex;
  color: var(--gray-text-color);
  width: 135px;
}
.number:hover {
  color: var(--blue-color);
}
.webstudio-style {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo-web-header {
  text-decoration: none;
  font-family: Raleway;
  font-style: Bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--blue-color);
  list-style-type: none;
}
.logo-web {
  font-family: Raleway;
  font-style: Bold;
  font-size: 26px;
  line-height: 1.2;
  color: black;
  text-decoration: none;
}

.hero-container {
  background: var(--secondry-bacground-color);
  max-width: 1600px;
  margin: 0 auto;
  height: 600px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero-text {
  font-size: 44px;
  font-weight: 900;
  color: #ffffff;
  padding: 120px 252px 0 252px;
  display: flexbox;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-hero {
  display: flex;
  justify-content: center;
  background-color: var(--blue-color);
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  border-radius: 5px 5px;
  width: 200px;
  height: 50;
  border: 1px;
  padding: 10px 0;
  margin: auto;
}

.about-container {
  color: var(--navigation-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  line-height: 1.14;
  background-color: #ffffff;
}

.about-list {
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  margin-right: 215;
  margin-left: 215;
  list-style-type: none;
  padding-bottom: 94px;
  padding-top: 94px;
}

.about-h3 {
  display: flex;
  justify-content: flex-start;
  margin-right: 215;
  margin-left: 215;
  list-style-type: none;
}
.about-text {
  color: #757575;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-style: normal;
  line-height: 1.7;
  display: inline;
  padding-left: 30;
  justify-content: center;
}
.about-text-items {
  padding-right: 30px;
}

.our-job-container {
  display: block;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-job-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-job-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-basis: calc((100% - 60px) / 3);
}

.team-container {
  max-width: 1200px;
  margin: auto;
  /* padding-bottom: 94px;  */
  /* padding-top: 94px;  */
  display: flex;
  /* flex-basis: calc((100% - 90px) / 4); */
  background-color: #f5f4fa;
}
.team-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-list {
  display: flex;
  /* background-color: #f5f4fa; */
  list-style-type: none;
  margin: 30px;
}
.team-list-item {
  /* width: 270px;
  height: 368px; */
  margin: auto;
}
.team-list-head {
  display: flex;
  justify-content: center;
}
.team-list-position {
  display: flex;
  justify-content: center;
}

.footer-container {
  background-color: var(--secondry-bacground-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--tittle-color);
  text-decoration: none;
  list-style: none;
  text-align: start;
}
.footer-logo {
  color: var(--main-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  line-height: 1.19;
}

.logo-web-footer {
  text-decoration: none;
  font-family: Raleway;
  font-style: Bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--blue-color);
  list-style-type: none;
}
.inline- footer {
  text-decoration: none;
}

.footer-address {
  color: var(--main-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.7;
  list-style: none;
  font-style: normal;
}
.footer-address:hover {
  color: #2196f3;
}

.footer-mail {
  color: var(--footer-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.7;
  font-style: normal;
}
.footer-mail:hover {
  color: var(--blue-color);
}

.footer-phone {
  color: var(--footer-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.7;
  font-style: normal;
}
.footer-phone:hover {
  color: #2196f3;
}

.button-portfolio {
  cursor: pointer;
  background-color: white;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.88;
  border-radius: 5px 5px;
  border-style: 5px;
}

.button {
  text-align: center;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  border-radius: 5px 5px;
  border-style: 5px;
}
.logo-web-header-portfolio {
  color: #2196f3;
  margin-left: 215px;
}
.nav-header-portfolio {
  border-bottom-style: solid #d9d9d9;
  display: flex;
  justify-content: center;
  padding-top: 40.8px;
  padding-bottom: 40.8px;
}
.button-portfolio:hover {
background-color: #2196f3; 
color: #ffffff;
}
.navigation-portfolio {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  list-style: none;
  align-items: center;
}
.secend-nav-portfolio {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  gap: 10px;
  margin: auto;
  list-style: none;
}
.mail {
  color: #757575;
}
.number {
  color: #757575;
}
.links-portfolio {
  color: #2196f3; 
}

.hero-button-portfolio {
  display: flex;
  justify-content: center;
  list-style-type: none;
  box-shadow: 1px 1px 1px;
  justify-content: space-around;
  border-radius: 4px;
  text-align: center;}
 
   .button-portfolio-wszystkie:hover {
    background-color: #2196f3;
    color:#ffffff }


.images-portfolio {
  display:flex;
   list-style-type: none;
   justify-content: flex-start;
   justify-content: space-between;
   margin: auto;
   flex-wrap: wrap;
   display: flex; 
  margin-left: 30px;
 padding-left: 0;
flex-basis:calc((100%- 60px)/3); 
}
 
