:root {
  --font-family: ("Roboto", "Raleway", sans-serif);
  --main-color: #ffffff;
  --blue-color: #4d5ae5;
  --black-color: #000000;
  --gray-text-color: #434455;
  --secondry-bacground-color: #2f303a;
  --body-text-color: #212121;
  --team-section-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --tittle-color: #ffffff;
  --background-color: #e5e5e5;
  --button-text-color: #ffffff;
  --navigation-color: #212121;
  --var-color: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  display: flex;
    align-items: center;
  border-bottom: 1px solid #e7e9fc;
 }
.navigation {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  list-style: none;
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
}
.agency a {
    list-style-type: none;
  color: var#2E2F42;
  text-decoration: none;
}
.portfolio a {
   list-style: none;
  text-decoration: none;
  color: #2e2f42;
}
.contact a {
    list-style-type: none;
  text-decoration: none;
  color: #2e2f42;
}

.nav-link {
    display: inline-flex;
align-items: flex-start;
  letter-spacing: 0.02em;
  line-height: 1.5;
  gap:40px;
  text-decoration: none;
  color:#2e2f42
  }
.address {
  font-style: normal;
  margin-left: auto;
}
.address-link {
  display: flex;
   font-size: 16px;
   font-weight: 400;
  letter-spacing: 0.02em;
   text-decoration: none;
gap: 40px;
    align-items: center;
    justify-content: flex-start;
}

.webstudio-style {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo-web-header {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  color: var(--blue-color);
  list-style-type: none;
}
.logo-web {
  font-family: Raleway;
    font-size: 18px;
  line-height: 1.2;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
}
.list {
list-style: none;
}
.paragraph {
  color: var(--gray-text-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.second-heading {
  font-size: 36px;
  color: #2e2f42;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.hero {
  background: var(--secondry-bacground-color);
  margin: 0 auto;
  height: 600px;
  padding: 188px 0;
}
.hero-text {
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 auto 48px auto;
    justify-content: center;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.button-hero {
  display: flex;
  justify-content: center;
  background-color: var(--blue-color);
  color: white;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  border-radius: 5px 5px;
  width: 200px;
  height: 50;
  border: 1px;
  padding: 16px 32px;
  margin: auto;
}

.about-list {
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
 margin: 0 auto;
  list-style-type: none;
  padding-bottom: 94px;
  padding-top: 94px;
  gap: 24px;
}

.about-h3 {
   display: flex;
width: 264px;
height: 24px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}

.our-job-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-basis: calc((100% - 60px) / 3);
  padding-bottom: 120px;
}
.second-heading {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team-container {
    padding-bottom: 120px;
  padding-top: 120px;
   background-color: #f5f4fa;
 
 }
.team-text {
  /* display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex; */
padding-bottom: 0px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
}

.team-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  gap: 24px;
  
}
.team-list-item {
  width: 270px;
  background: var(--WHITE, #fff);
  border-color: #757575;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-img {
text-align: center;
padding: 32px 0;

}
.img-class {
  display: block;
}
  .paragraph {
    padding-top: 8px;
  }

.footer-container {
  background-color: var(--secondry-bacground-color);
  color: var(--tittle-color);
padding-bottom: 100px;
padding-top: 100px;
 }
.footer-logo {
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  align-items: center;
padding-bottom: 17.5px;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
font-style: normal;
margin-right: 76px;
display: inline-block;
}

.logo-web-footer {
  text-decoration: none;
  font-family: "Raleway";
  line-height: 1.2;
  color: var(--blue-color);
 
}

.logo-studio-footer {
  flex-direction: column;
  justify-content: center;
  width: 71px;
  height: 21px;
}
.text-footer {
  max-width: 264px;
      line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
 }
 .hero-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
 }
.button-portfolio {
  cursor: pointer;
  background-color: white;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.88;
  border-radius: 5px 5px;
  border-style: 5px;
}

.button {
  text-align: center;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  border-radius: 5px 5px;
  border-style: 5px;
}
.logo-web-header-portfolio {
  color: var(--blue-color);
  margin-left: 215px;
}
.nav-header-portfolio {
  display: flex;
    align-items: center;
  /* padding-top: 40.8px;
  padding-bottom: 40.8px; */
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  width: 1440px;
  height: 72px;
  }

 .navigation-portfolio {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  list-style: none;
  align-items: center;
   
}
.secend-nav-portfolio {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  margin: auto;
  list-style: none;
  text-decoration: none;
}
.mail {
  color: #757575;
  margin-right: 50px;
}
.number {
  color: #757575;
}
.links-portfolio {
  color: #2196f3;
}

.hero-button-portfolio {
  /* display: flex;
  list-style-type: none;
  justify-content: space-around;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  margin-top: 96px; */
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-portfolio {
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--CLOUD, #f4f4fd);
  margin-left: 24px;
}

.button-portfolio-all {
  background-color: #404bbf;
  color: #ffffff;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px;
  cursor: pointer;
}

.button-portfolio-all :hover {
  color: #2196f3;
}
 .images-portfolio {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  align-content: flex-start;
row-gap: 48px; }
  

.items {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: none;
}

.text {
  letter-spacing: 0.03em;
  font-style: normal;
  line-height: 1.7;
  display: block;
  padding-left: 30;
  justify-content: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: 264px;
}
